.tags {
	text-align: center;
	padding: 20px 0px;
    
}
.tag {
	outline: none;
	border: none;
	color: rgb(179, 177, 177);
	margin: 0px 25px;
	background-color: transparent;
	cursor: pointer;
}
.active1{
    color: black;
	border-bottom: 2px solid rgb(0, 0, 0);
}

.img-arana{
    width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
.image-card {
	padding: 5px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
}
.image-items {
	width: 100%;
	height: 200px;
}